{% extends 'base.html.twig' %}

{% block title %}New Poll{% endblock %}

{% block body %}


    <h1>Create new Poll</h1>


    {# {{dump(form)}} #}
     {# <div {{ react_component('Hello', { 'form': form, 'fullname' : "name" }) }}></div> #}
    {# <div {{ react_component('Hello', { 'form': '', 'fullName': 'fermer modal'}) }}></div> #}
    <div {{ react_component('Form', { 'form': '', 'csrfToken': csrfToken }) }}></div>

    {# {{ include('poll/_form.html.twig') }} #}

    <a href="{{ path('app_poll_index') }}">back to list</a>
{% endblock %}
