{% extends 'base.html.twig' %}

{% block title %}Sondage{% endblock %}

{% block body %}
    <h1>Sondage :</h1>
    <h2>{{ poll.title }} <h2>
    <p>{{ poll.description }} <p>


     <div {{ react_component('PollVoteForm', { 'poll': poll, 'answers': poll.answers }) }}></div>


    {{form_start(form)}}
        {{ form_row(form.answerChoice) }}
        <button class="btn">{{ button_label|default('Voter') }}</button>
    {{form_end(form)}}


    {# <a href="{{ path('app_poll_index') }}">back to list</a> #}

    {# <a href="{{ path('app_poll_edit', {'id': poll.id}) }}">edit</a> #}

    {# {{ include('poll/_delete_form.html.twig') }} #}
{% endblock %}
